{% extends 'base1.html' %} {% load static %} {% block contents %}
<link rel="stylesheet" href="{% static 'css/scheduler.css' %}" />
<section class="schedulesection">
  <div class="changediv">
    <div class="weekdiv">
      <form method="POST" action=".">
        {% csrf_token %}
        <table>
          <input type="week" name="week" required />
        </table>
        <button type="submit" class="btn btn-primary">시간표 확인</button>
      </form>
      <a href="{% url 'schedules:scheduler_upload_page' team.id %}">
        <button>시간표 업로드</button>
      </a>
    </div>
    <div class="schedulesdiv" id="schedulesdiv">
      {{message}} {% for schedule in schedules %}
      <div class="schedulediv" id="schedulediv">
        <h3>{{schedule.date}}</h3>
        <table>
          <tbody id="urltbody">
            <tr>
              <td>{{schedule.time_0}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_1}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_2}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_3}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_4}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_5}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_6}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_7}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_8}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_9}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_10}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_11}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_12}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_13}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_14}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_15}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_16}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_17}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_18}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_19}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_20}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_21}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_22}}</td>
            </tr>
            <tr>
              <td>{{schedule.time_23}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
