{% load static %}
<!doctype html>
<html>
<head>
<title> sign up and sign in</title>
  <link rel="stylesheet" href="{% static 'Sign_up&Sign_in.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
</style>
<body>

<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form method="POST" action="{% url 'accounts:login'%}">
		{% csrf_token %}
			<h1>Sign in</h1>
            <br><br><br>
			<input type="email" name="username" placeholder="Email" />
			<input type="password" name="password" placeholder="Password" />
			<button type="submit">Sign In</button>
		</form>
	        </div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and let's go to school more comfortably!</p>
				<a href="{% url 'accounts:signup' %}"><button class="ghost" id="signIn">Sign UP</button></a>
			</div>
		</div>
	</div>
</div>

<script>
</script>
</body>

</html>