<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>


    <script>
        
        function loaded(){
            const canvas = document.getElementById('mindmap');
            const ctx = canvas.getContext('2d');
            ctx.font = '20px bold serif';

            {% for line in lines %}
                ctx.beginPath();
                ctx.moveTo({{line.from_node.posX}}+40,{{line.from_node.posY}});
                ctx.lineTo({{line.to_node.posX}}+40,{{line.to_node.posY}});
                ctx.stroke();
            {% endfor %}
            {% for node in nodes %}
                ctx.strokeRect({{node.posX}}-10,{{node.posY}}-30,100,60);
                ctx.fillStyle = "green";
                ctx.fillRect({{node.posX}}-10,{{node.posY}}-30,100,60);
                
                ctx.fillStyle = "black";
                ctx.fillText("{{node.title}}",{{node.posX}},{{node.posY}});
            {% endfor %}


            canvas.onclick = function(event){
                const x = event.clientX - ctx.canvas.offsetLeft; 
                const y = event.clientY - ctx.canvas.offsetTop;  
                
                {% for node in nodes %}
                    minX={{node.posX}}-10;
                    maxX={{node.posX}}+90;
                    minY={{node.posY}}-30;
                    maxY={{node.posY}}+30;
                    if(minX<x && maxX>x && minY<y && maxY>y){
                        window.location.href = "/mindmaps/node_detail_page/{{ team.id }}/{{ node.id }}"
                    }
                {% endfor %}
            } 
        }

        
    </script>
</head>







<body onload="loaded()">
    <h2>{{mindmap.title}} 상세 화면 <a href="/mindmaps/mindmap_detail_page/{{ team.id }}/{{ mindmap.id }}"><button>새로고침</button></a></h2>

    <canvas id="mindmap" width="800" height="600" style="border: 1px solid black"></canvas>
    <form method="POST" action="{% url 'mindmaps:mindmap_create_node' mindmap_id=mindmap.id pk=team.id %}">
		{% csrf_token %}
			<input type="number" name="posX" placeholder="posX" />
			<input type="number" name="posY" placeholder="posY" />
            <input type="text" name="title" placeholder="title" />
            <input type="text" name="content" placeholder="content" />
            <input type="text" name="parent" placeholder="parent" />
			<button type="submit">node</button>
		</form>
</body>
</html>







