{% extends "base.html" %}


{% block contents %}

    {% if request.user.is_authenticated %}
        <div class="main">
            <h4>초대코드:{{team.invitecode}}</h4>
            <br>
            <br>
        </div>

        <h4>팀장</h4>
        <h5>{{ team.host.nickname }}</h5>
        <br>

        <h4>팀원</h4>
        {% for member in members %}
            <h5>{{member.User.nickname}}</h5>
        {% endfor %}

        <br>
        <br>
        <a href="{% url 'schedules:scheduler_page' team.id %}"><button>시간표 공유</button></a>
        <br>
        <a href="{% url 'members:team_members_page' team.id %}"><button>팀원 정보(todo)</button></a>
        <br>
        {% if request.user.username == team.host.username %}
            <h4>you are the Host of this board!</h4><br>
        {% endif %} 



    {% endif %}

{% endblock %}



