{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/team_search.css' %}">
    <img src="{% static 'img/LogoW.svg' %}">
</head>
{% block contents %}
<div id = "container" class="row mt-5">
    <div class="col-12">
        <form method="POST" action=".">
        {% csrf_token %}
        <div class = "search">
            {{form.as_p}}
            <button class ="search_btn" type="submit" class="btn btn-primary" >검색</button>
        </div>
            <div class ="teamlist">
                <div class = "list_content">
                       <p id="team_title">{{ team.title }}(#{{ team.id }})</p> <p id="user_num">({{ team.maxuser }}/{{ team.currentuser }})</p> 
                       <br><p id ="introduction">팀소개<!--introduction!--></p>
                       <button class = "join" onclick="location.href='/teams/team_main_page/{{ team.id }}'">참가</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
