@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "GmarketSansMedium", sans-serif;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #2d3d57;
}

.header {
  width: 100%;
  align-items: center;
}

.header > img {
  margin-top: 32px;
  margin-left: 65px;
  float: left;
}

