{% extends 'base2.html' %} {% load static %} {% block contents %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
<section class="signupsection">
  <form method="POST" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    <div class="signupdiv">
      <h2>이름</h2>
      <input type="text" name="nickname" placeholder="NICKNAME" />
    </div>
    <div class="signupdiv">
      <h2>이메일</h2>
      <input type="email" name="username" placeholder="EMAIL" />
    </div>
    <div class="signupdiv">
      <h2>비밀번호</h2>
      <input type="password" name="password1" placeholder="PASSWORD" />
    </div>
    <div class="signupdiv">
      <h2>비밀번호 확인</h2>
      <input type="password" name="password2" placeholder="PASSWORD" />
    </div>
    <div class="signupdiv">
      <h2>자기소개</h2>
      <input type="profile" name="profile" placeholder="PROFILE" />
    </div>
    <div class="signupbtn">
      <button>회원가입</button>
    </div>
  </form>
  <div class="caption">
    <a href="{% url 'accounts:login' %}">
      이미 계정이 있으신가요? <span>로그인</span>
    </a>
  </div>
</section>

{% endblock %}
