.membersection {
  font-family: "GmarketSansMedium", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 83vh;
}

button:hover {
  cursor: pointer;
  background-color: #7f8bb1;
}

.changediv {
  background-color: #d9d9d9;
  border-radius: 30px;
  height: auto;
  padding: 40px 50px;
}

.scrolldiv {
  overflow: auto;
  background-color: #d9d9d9;
  border-radius: 30px;
  padding: 20px 25px;
  height: 400px;
}

.scrolldiv::-webkit-scrollbar {
  width: 20px;
}

.scrolldiv::-webkit-scrollbar-thumb {
  height: 30%;
  background: #a0a0a0;
  border-radius: 30px;
}

.scrolldiv::-webkit-scrollbar-track {
  background: #ededed;
  border-radius: 30px;
}

.teamdiv > h2 {
  color: #2d3d57;
  font-size: 25px;
}

.teamdiv h2 span {
  color: #868686;
}

.teamdiv > h3 {
  color: #4b6b7c;
  font-size: 23px;
  font-weight: 400;
}

.tododiv {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px 20px;
}

.tododiv > h2 {
  margin-top: 10px;
  color: #2d3d57;
  font-size: 20px;
}

.tododiv h2 span {
  color: #868686;
  font-size: 20px;
}

.tododiv > h3 {
  margin-top: 5px;
  color: #4b6b7c;
  font-size: 16px;
  font-weight: 400;
}

.tododiv hr {
  margin: 13px 0 16px 0;
  height: 1px;
  background: #a6b0d0;
  border: 0;
}

input[type="checkbox"] {
  float: left;
  appearance: none;
  border-radius: 100%;
  width: 33px;
  height: 33px;
  border: 2px solid #a6b0d0;
  cursor: pointer;
  margin-right: 10px;
}

input[type="checkbox"]:checked {
  background-image: url("../assets/img/Check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.tododiv button {
  border: none;
  background: transparent;
}

.tododiv h4 {
  color: #465173;
  font-size: 18px;
  font-weight: 400;
}

.tododiv h5 {
  color: #cccccc;
  font-size: 18px;
  font-weight: 400;
}

.plusdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.plusdiv textarea {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  margin: 15px;
  font-size: 20px;
  color: #465173;
  height: 80px;
}

.plusdiv button {
  display: block;
  margin: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #a6b0d0;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.plusdiv button:hover {
  cursor: pointer;
  background-color: #7f8bb1;
}

button:hover path {
  fill: #929292;
}

button svg {
  margin-left: 3px;
  margin-bottom: -3px;
}
