.nodedetailsection {
  font-family: "GmarketSansMedium", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 83vh;
}

.detaildiv {
  background-color: #fff;
  padding: 40px;
  border-radius: 30px;
}

a:hover path {
  fill: #7f8bb1;
}

.changediv {
  margin-top: 10px;
  text-align: center;
}

.changediv h2 {
  color: #2d3d57;
  font-size: 26px;
}

.changediv h3 {
  margin: 10px;
  color: #868686;
  font-size: 24px;
  font-weight: 400;
}

.changediv h4 {
  margin: 10px;
  color: #7f8bb1;
  font-size: 22px;
  font-weight: 400;
  text-align: right;
}

.changediv hr {
  margin: 20px 0 30px;
  height: 1px;
  background: #a6b0d0;
  border: 0;
}

.scrolldiv {
  overflow: auto;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px 25px;
  height: 300px;
}

.scrolldiv::-webkit-scrollbar {
  width: 20px;
}

.scrolldiv::-webkit-scrollbar-thumb {
  height: 30%;
  background: #a0a0a0;
  border-radius: 30px;
}

.scrolldiv::-webkit-scrollbar-track {
  background: #ededed;
  border-radius: 30px;
}

.changediv h5 {
  color: #2d3d57;
  font-size: 20px;
  text-align: left;
}

.changediv h5 span {
  color: #868686;
  font-size: 20px;
}

input {
  margin: 30px 0;
  border: 1px solid #a6b0d0;
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  width: 480px;
  font-size: 20px;
  color: #465173;
}

button {
  display: inline-block;
  padding: 11px 20px 12px;
  border: 1px solid #a6b0d0;
  border-radius: 10px;
  background: #a6b0d0;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  background-color: #7f8bb1;
}

.btndiv {
  display: flex;
  justify-content: center;
}

.btndiv a {
  margin: 10px 20px;
}
