.scheduleuploadsection {
  font-family: "GmarketSansMedium", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 83vh;
}

.changediv {
  justify-content: center;
  text-align: center;
}

input[type="week"] {
  margin-bottom: 30px;
  border: 1px solid #7f8bb1;
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  width: 480px;
  font-size: 20px;
  color: #465173;
}

button {
  display: inline-block;
  padding: 10px 20px 14px;
  border: 1px solid #a6b0d0;
  border-radius: 10px;
  background: #a6b0d0;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  background-color: #7f8bb1;
}

.schedulediv table,
.schedulediv tbody,
.schedulediv tr,
.schedulediv td {
  width: 60px;
  border-collapse: collapse;
  border: 1px solid #a6b0d0;
}

input[type="checkbox"] {
  vertical-align: middle;
  appearance: none;
  width: 100%;
  height: 22px;
  border-radius: 0;
  background-color: #fff;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #a6b0d0;
}

.weekdiv {
  float: left;
  margin: 130px 100px;
}

.schedulesdiv {
  display: flex;
  justify-content: center;
}

.schedulediv {
  flex-direction: column;
  margin: 0 30px;
}

.schedulediv h3 {
  font-size: 15px;
  color: #2d3d57;
  margin-bottom: 10px;
}

.timediv {
  font-size: 10px;
  color: #2d3d57;
  margin: auto;
}

.timediv table {
  margin-top: 18px;
}

.timediv td {
  height: 21px;
}
