
html {
    height:100%;
}
body {
    height:100%;
    background: #2D3D57;
}

.Container {
    width: 40%;
    height: 500px;
    max-height: 500px;
    background: #D9D9D9;
    border-radius: 15px;
    min-width: max-content;
    margin: 0 auto;
}

.scroll_section{
    height: 350px;
    max-height: 350px;
    overflow-y: scroll;
}

.scroll_section::-webkit-scrollbar {
    max-height: 70%;
    border-radius: 15px;
    background: #EDEDED;
}

.scroll_section::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #A0A0A0;
}

.teamlist {
    display: flex;
    vertical-align: middle;
    align-items: center;
    border-radius: 30px;
    width: 80%;
    min-width: max-content;
    min-height: max-content;
    height: 25%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
}

.list_content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}

p {
    display: inline-block;
    font-style: bold;
    font-size: 20px;
    margin: 0px;
}

#team_title {
    font-weight: 700;
    color: #2D3D57;
}

#user_num {
    color: #4B6B7C;
}

/* #introduction {
    color: #4B6B7C;
    font-style: normal;
    font-size: 15px;
}*/

.join {
    float: right;
    margin-top: -20px;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    background: #A6B0D0;
    color: #FFFFFF;
    font-size: 20px;
    font-style: bold;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    border-style: none;
}

button:hover {
    cursor: pointer;
    background-color: #7f8bb1;
}

.btn_section{
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-around;
    background: #D9D9D9;
    height:150px;
    max-height:150px;
    border-top:1px solid #A0A0A0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#create_button {
    width: 150px;
    height: 60px;
    background: #A6B0D0;
    border-style: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
}

#create_button:hover {
    background-color: #7f8bb1;
}

#search_button {
    width: 150px;
    height: 60px;
    background: #A6B0D0;
    border-style: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
  
}
#search_button:hover {
    cursor: pointer;
    background-color: #7f8bb1;
}