.teamlistsection {
  font-family: "GmarketSansMedium", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 83vh;
}

.container {
  background-color: #d9d9d9;
  border-radius: 30px;
  height: auto;
  padding: 40px 50px;
}

.scroll_section {
  overflow: auto;
  background-color: #d9d9d9;
  border-radius: 30px;
  padding: 20px 25px;
  height: 400px;
}

.scroll_section::-webkit-scrollbar {
  width: 20px;
}

.scroll_section::-webkit-scrollbar-thumb {
  height: 30%;
  background: #a0a0a0;
  border-radius: 30px;
}

.scroll_section::-webkit-scrollbar-track {
  background: #ededed;
  border-radius: 30px;
}

.teamlist {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 30px;
}

.teamlist > h2 {
  display: inline-block;
  color: #2d3d57;
  font-size: 20px;
  margin-right: 20px;
}

.teamlist h2 span {
  color: #868686;
  font-weight: 500;
}

#user_num {
  color: #4b6b7c;
  font-weight: 400;
}

.teamlist button {
  float: right;
  padding: 10px 20px;
  margin-top: -10px;
  border: none;
  border-radius: 10px;
  background: #a6b0d0;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.btn_section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #d9d9d9;
  margin-top: 30px;
}

.btn_section button {
  background: #a6b0d0;
  border-style: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 20px;
}

button:hover {
  cursor: pointer;
  background-color: #7f8bb1;
}
