{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>TeamMoa</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'assets/img/LogoB.svg' %}">
    <link rel="stylesheet" href="{% static 'css/base1.css' %}" />
  </head>
  <body>
    <nav class="header">
      <a href="{% url 'teams:team_list' %}">
        <img src="../../../static/assets/img/LogoB.svg" alt="logo" />
      </a>
      <ul>
        <li>
          <a href="{% url 'teams:team_main_page' team.id %}">홈</a>
        </li>
        <li>
          <a href="{% url 'schedules:scheduler_page' team.id %}">시간표</a>
        </li>
        <li>
          <a href="{% url 'mindmaps:mindmap_list_page' team.id %}">마인드맵</a>
        </li>
        <li>
          <a href="{% url 'shares:post_list' team.id %}">공유 게시판</a>
        </li>
        <li class="nav2">
          <a href="{% url 'members:team_members_page' team.id %}">
            {{ team.title }}
          </a>
        </li>
        <li class="nav2">|</li>
        <li class="nav3">
          <a href="{% url 'accounts:update' %}">{{request.user.nickname}}</a>
        </li>
      </ul>
    </nav>
    {% block contents %} {% endblock %}
  </body>
</html>
