{% extends "base1.html" %} {% load humanize %} {% block mobileView %}
<meta name="viewport" content="width=800, user-scalable=yes" />
{% endblock %} {% block contents %}

<style>
.wrap {
    width: 65%;
    height: 70vh;
    margin: auto;
    margin-top: 5%;
}

.container{
    display:inline-block;
    width: 100%;
    border: 1px solid #d9d9d9;;
    border-radius:5px;
    border: bold;
}

#post.title {
  margin-left:16px;
}

.card-header {
  text-align: center;
  min-height: 45.5px;
  background: #EDEDED;
  padding: 10px;
}

#poster {
  padding: 10px;
}

#line {
  margin-left: 16px;
  margin-right: 16px;
}

#file {
  margin-top: 10px;
  margin-left: 15px;
}

#content{
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 10px;
  word-break: break-all; <!-- 텍스트 상자 안으로 들어오게 하기-->
}

#button_div {
  display: flex;
  vertical-align: bottom;
  justify-content: end;
}
    
button {
  font-family: "GmarketSansMedium", sans-serif;
  display:inline-block;
  float:right;
  background:  #FFFFFF;
  border-style: none;
  border-radius: 5px;
  color: dark;
  width:60px;
  height:30px;
  font-size: 14px;
  font-weight: blod;
  margin-top:5px;
  margin-right:5px;
}


.modal-footer{
  display:inline-block;
  float:left;
}

#detail_btn2{
  margin-right: 0px;
}
</style>
<br /><br /><br />
<div class ="wrap">
<div class="container">
  <div class="row-mt-5">
    <div class="col-12">
      <!--본문-->
      <div class="card" style="width: 100%">
        <!--제목,분류,작성일-->
        <div class="card-header">
          <strong id= "post.title" style="font-size: 18px">{{ post.title }}</strong
          >&nbsp;&nbsp;<span style="font-size: 18px; color: gray"
            >[공지사항]</span
          >
          
        </div>
        <div class="card-body" style="min-height: 400px; color: black">
          <!--작성자, 조회수-->
          <div id ="poster">
            <span><i class="fas fa-user-edit"></i>&nbsp;작성자 : {{ post.writer.nickname }}</span>
          </div>
          <hr id = "line">

          <!--{% if post.upload_files %}-->
          <div id = "file" class="col-12 text-right">
            <span style="color: gray">첨부파일 :&nbsp;</span>
       
            <a
              id="id_uploaded_file"
              href="{% url 'shares:post_download' post.id %}"
              >{{ post.filename|truncatechars:25 }}</a
            >
          </div>
          <!-- {% endif %}-->
          <!--내용-->
          <div id = "content">
            {{ post.article | safe }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="delete_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">

</div>
<div id ="button_div" class="text-right" >
  {% if post_auth or request.user.level == '0' %}
  <button
    class="btn btn-sm"
    id="detail_btn1"
    onclick="location.href='/shares/{{ team.id }}/edit/{{post.id}}'"
  >
    수정
  </button>
  <!-- <button>
    class="btn btn-sm"
    id="detail_btn"
    data-toggle="modal"
    data-target="#delete_modal"
  >
    삭제
  </button> !-->
  <button id = "button_" class="btn btn-md btn-dark" onclick="location.href='/shares/{{ team.id }}/delete/{{ post.id }}'">삭제</button> 
  <button
    class="btn btn-sm"
    id="detail_btn"
    onclick="location.href='/shares/{{ team.id }}'"
  >
    목록으로
  </button>
  {% else %}
  <button
    class="btn btn-sm"
    id="detail_btn2"
    onclick="location.href='/shares/{{ team.id }}'"
  >목록으로
  </button>
  {% endif %}
</div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $("img").css("width", "100%");
  });

  function delete_modal() {
    location.replace("/shares/{{ post.id }}/delete/");
  }
</script>

{% endblock %}
