{% extends "base.html" %}


{% block contents %}
    

    <h2>{{team.title}} 팀원 정보</h2>
    <br>
    {% if request.user.is_authenticated %}
        <div class="main">


        <h3>팀원, todos</h3>
        <br>
        {% for member in members %}
            <h4>{{member.User.nickname}}</h4>
            <h4>{{member.User.profile}}</h4>
            <h4>{{member.User.username}}</h4>
            {% for todo in todos %}
                {% if todo.owner == member %}
                    {%if not todo.is_completed %}
                        <h5>Todo:{{todo.content}} {% if todo.owner.User == request.user %}<input type="checkbox" onclick="location.href='/members/member_complete_Todo/{{ team.id }}/{{ todo.id }}'" >
                            -----<button class="btn btn-primary" onclick='location.href ="/members/member_delete_Todo/{{ team.id }}/{{ todo.id }}"'>X</button>{% endif %}</h5>
                    {% else %}
                        <h5>Todo:<del>{{todo.content}}</del> {% if todo.owner.User == request.user %}<input type="checkbox" onclick="location.href='/members/member_complete_Todo/{{ team.id }}/{{ todo.id }}'" checked="on">
                            -----<button class="btn btn-primary" onclick='location.href ="/members/member_delete_Todo/{{ team.id }}/{{ todo.id }}"'>X</button>{% endif %}</h5>
                    {% endif %}
                    <br>
                {% endif %}
            {% endfor %}
        {% endfor %}
        
        <form method="POST" action="{% url 'members:team_members_page' team.id %}">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
            <button type="submit" class="btn btn-primary" >todo 등록</button>
        </form>




        {% if request.user == team.host %}
            <h4>you are the Host of this board!</h4><br>
        {% endif %} 
        
    {% endif %}

{% endblock %}